# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
!debug.log
#db.sqlite3

# Virtualenv
#venv/
py3.12/
.env/

# Django
#db.sqlite3
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db